<form #form="ngForm" (ngSubmit)="onSubmit()">
  <input
    type="text"
    name="Name"
    required
    minlength="4"
    placeholder="Enter Name"
    [(ngModel)]="name"
    (ngModelChange)="validateName()"
  />
  <br />
  <br />
  <input
    type="text"
    name="Confirmation Email"
    required
    minlength="8"
    placeholder="Enter email address"
    [(ngModel)]="email"
    (ngModelChange)="validateEmail()"
  />
  <br />
  <br />
  <input
    type="text"
    name="Credit Card Number"
    required
    minlength="16"
    maxlength="16"
    placeholder="Enter CC number"
    [(ngModel)]="ccNum"
    (ngModelChange)="validateCC()"
  />
  <br />
  <br />
  <input type="submit" [disabled]="form.invalid" value="Submit Order" />
</form>
