img {
  width: 100px;
  border-radius: 10px;
}

.form-margin {
  margin-bottom: 12px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border-style: dashed;
}

.cart-item-details {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: left;
}

.number-input {
  width: 80px;
  text-align: center;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
  border-style: solid;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
